html {
  font-size: calc(100vw/3.75);
}
body{background-color:#F7F7F7;padding-top:.1rem;min-width:320px;-webkit-overflow-scrolling:touch;font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;}
html,body,h1,h2,h3,h4,h5,h6,hr,p,iframe,dl,dt,dd,ul,ol,li,pre,form,button,input,textarea,th,td{margin:0;padding:0;-webkit-tap-highlight-color:rgba(0,0,0,0);}
div,a,p,header,article,section,input,button,li{-webkit-box-sizing:border-box; /* Safari */-moz-box-sizing:border-box; /* Firefox */box-sizing:border-box;}
body,button,input,select,textarea{font:12px/1.5 "Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;}
input,button,select,textarea,a{outline:none;-webkit-appearance:none;appearance:none;}
textarea{resize:none;}
html,body{-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;-khtml-user-select:none;user-select:none;height:100%;}
a,img{-webkit-touch-callout:none;}
table{border-collapse:collapse;border-spacing:0;border:0;}
img{border:0;}
ol,ul{list-style:none;}
h1,h2,h3,h4{font-size:100%;}
i,em{font-style:normal;font-weight:normal;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
a{text-decoration:none;}
.clearfix:after{content:'';display:block;clear:both;height:0;}
.clearfix{zoom:1;}
*::-webkit-scrollbar{display:none;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #AAA;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #AAA;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #AAA;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #AAA;   }